-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: patrimonio
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `ativos`
--

LOCK TABLES `ativos` WRITE;
/*!40000 ALTER TABLE `ativos` DISABLE KEYS */;
INSERT INTO `ativos` VALUES (1,'PC - RH','019283','000001','Dell Vostro','2025-11-08',2000.00,'M├íquina destinada ao analista de recursos humanos','A','2025-11-08 21:17:40','2025-11-08 21:18:10',1,2,5);
/*!40000 ALTER TABLE `ativos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `categoria_ativos`
--

LOCK TABLES `categoria_ativos` WRITE;
/*!40000 ALTER TABLE `categoria_ativos` DISABLE KEYS */;
INSERT INTO `categoria_ativos` VALUES (1,'Equipamento de Inform├ítica',NULL,'A','2025-11-08 21:05:02','2025-11-08 21:05:41'),(2,'Equipamento de Manuten├º├úo',NULL,'A','2025-11-08 21:05:13','2025-11-08 21:05:47'),(3,'Mobili├írio',NULL,'A','2025-11-08 21:05:22','2025-11-08 21:05:22'),(4,'Ve├¡culo',NULL,'A','2025-11-08 21:05:28','2025-11-08 21:05:28');
/*!40000 ALTER TABLE `categoria_ativos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `categoria_licencas`
--

LOCK TABLES `categoria_licencas` WRITE;
/*!40000 ALTER TABLE `categoria_licencas` DISABLE KEYS */;
INSERT INTO `categoria_licencas` VALUES (1,'Pacote Office',NULL,'A','2025-11-08 21:07:31','2025-11-08 21:07:31'),(2,'Antiv├¡rus',NULL,'A','2025-11-08 21:07:43','2025-11-08 21:07:43');
/*!40000 ALTER TABLE `categoria_licencas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `dominios`
--

LOCK TABLES `dominios` WRITE;
/*!40000 ALTER TABLE `dominios` DISABLE KEYS */;
INSERT INTO `dominios` VALUES (1,'Patrimon.io - Produ├º├úo','patrimon-io.empresa.com','123456',NULL,NULL,NULL,'2025-11-08','2025-11-08','2029-12-31',1500.00,100.00,NULL,'A','2025-11-08 21:20:29','2025-11-08 21:20:29'),(2,'Patrimon.io - Homologa├º├úo','patrimon-io-homol.empresa.com','123457',NULL,NULL,NULL,'2025-11-08','2025-11-08','2029-12-31',1500.00,100.00,NULL,'A','2025-11-08 21:21:33','2025-11-08 21:21:33');
/*!40000 ALTER TABLE `dominios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `fornecedores`
--

LOCK TABLES `fornecedores` WRITE;
/*!40000 ALTER TABLE `fornecedores` DISABLE KEYS */;
/*!40000 ALTER TABLE `fornecedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `licencas`
--

LOCK TABLES `licencas` WRITE;
/*!40000 ALTER TABLE `licencas` DISABLE KEYS */;
INSERT INTO `licencas` VALUES (1,'Kaspersky Anti-Virus','920183','2025-11-08','2025-11-10','2035-11-08',10000.00,1200.00,NULL,'A','2025-11-08 21:28:25','2025-11-08 21:29:29',2,4);
/*!40000 ALTER TABLE `licencas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `localizacoes`
--

LOCK TABLES `localizacoes` WRITE;
/*!40000 ALTER TABLE `localizacoes` DISABLE KEYS */;
INSERT INTO `localizacoes` VALUES (1,'Sala - TI',NULL,'A','2025-11-08 20:55:42','2025-11-08 21:18:01'),(2,'Sala - Ger├¬ncia',NULL,'A','2025-11-08 20:55:52','2025-11-08 20:55:52'),(3,'Almoxarifado',NULL,'A','2025-11-08 20:55:59','2025-11-08 20:55:59'),(4,'Sala - Financeiro',NULL,'A','2025-11-08 20:56:09','2025-11-08 20:56:09'),(5,'Sala - RH',NULL,'A','2025-11-08 21:17:53','2025-11-08 21:17:53');
/*!40000 ALTER TABLE `localizacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `manutencoes`
--

LOCK TABLES `manutencoes` WRITE;
/*!40000 ALTER TABLE `manutencoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `manutencoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `prestadores_servico`
--

LOCK TABLES `prestadores_servico` WRITE;
/*!40000 ALTER TABLE `prestadores_servico` DISABLE KEYS */;
INSERT INTO `prestadores_servico` VALUES (1,'PJ',NULL,'TecnoCom Inform├ítica','TecnoCom Inform├ítica',NULL,'06.049.744/0001-87','(64) 3631-2345','contato@tecnocombrasil.com.br','Av. Dr. Dorival de Carvalho, 408 - Centro - Jata├¡ - GO, 75804-014',NULL,'A','2025-11-08 21:10:56','2025-11-08 21:10:56');
/*!40000 ALTER TABLE `prestadores_servico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'Administrador Patrimon.io','adm@patrimon.io','$2y$12$c9bu7orx.lVEsPJVzKMqt.S/dC7v5my7/V20ClpyJdowEtp4BQNC6','A','','A','2025-11-08 13:04:19','2025-11-08 13:04:19'),(2,'Guilherme Xavier Moraes','xavier@patrimon.io','$2y$12$6PzDASEnxWozw9E7j.j0LeZmAtHFtpabVN6Q.oS.KO8Vc5Cp6.CGO','A',NULL,'A','2025-11-08 15:26:24','2025-11-08 15:26:24'),(3,'Helena Xavier Moraes','helena@patrimon.io','$2y$12$fFPSQRlLjkrSLYJPt/Do1upoQT3uBkiKDOa2BUkJCCre2qekVhbgG','P',NULL,'I','2025-11-08 19:46:37','2025-11-08 19:46:37');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-08 19:23:22
